@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* nav section */
nav{
    background-color: #FFF;
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;
    
}
.logo-container img{

    width: 70px;
    margin-right: 20px;
}
.logo-container h3{
    font-size: 20px;
}
.nav-item-container{
    width: 50%;
    display: flex;
    /* gap: 95px; */
    justify-content: space-between;
    align-items: center;
   
}
.nav-item-container a{
    color: #3C354F;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    
   
}
.icon{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
    padding: 13px 10px;
    font-weight: 500;
    text-align: center;
    
}
.fa-brands {
    margin-right: 3px;
    margin-left: 3px;
}
/* nav section end */

/* banner section */
.banner-container{
    margin: 50px auto 0;
    max-width: 1150px;
    min-height: 50px;
    display: flex;
  
  
}
.banner-text{
width: 50%;
text-align: center;
background-image: url("../images/banner-background.png");


}
.banner-text h2{
    font-size: 40px;
    
}
.TTL{font-size: 60px;
    font-weight: 800;
    color: #FF42A5;

}
.banner-image{
width: 50%;
background-color: #FFF;


}
.banner-image img{
    width: 100%;
    height: 100%;
}




 .btn-primary{ 
    background-color:#FF42A5;
    padding: 10px 23px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    margin-right:19px;
}
.btn-primary-2{
    background-color:#4EC5F7;
    padding: 10px 23px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 10px;
} 
/* banner section end */



.title{
    font-size: 11px;
    text-align: center;
    margin-top: 30px ;
    margin-bottom: 30px;
   
}
/* card section  */


.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1150px;
    margin: 0 auto;
    min-height: 400px;
    gap: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.single-product img{
    width: 100%;
    height: 85%;
}
.iconss {
    border: 1px solid;
    color: white;
    position: relative;
    text-align: center;
    bottom: 200px;
   
  }
  .iconss :hover{
     background-color: #0B0223;
  }
  
/* card section end */


/* banner-2-section */

.banner-2{
    width: 100%;
    max-width: 1150px;
    display: flex;
    margin: 0 auto;
}
.banner-2-text{
    width: 50%;
    text-align: center;
    padding: 110px;
}
.banner-2-title{
    font-size: 45px;
}
.banner-2-img{
    width: 

}
.banner-2 img{
    width: 100%;
    height: 100%;
}
.pera-img{
    width: 250px;
    margin-bottom: 20px;
    position: absolute;
    margin: 0 auto;

}
.pera-img{
    margin-left: 300px;
}
/* comment container */

.comment-container{
   cursor: pointer;
   margin-top: 150px;
   margin-left: 100px;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   
}
.comment-container :hover{
    border: 1px solid ;
    border-radius: 20px;
    color: #FF42A5;
    
    
}

.comment-img{
    font-size: 15px;
    display: flex;
    margin-right: 50px;
}
.comment-img img{
    font-size: 20px;
}
.comment-container p{
    align-items: center;
    
}
.comment-container p{
    margin-left:10px;
}
.comment-container2{
   cursor: pointer;
   margin-top: 10px;
   margin-left: 100px;
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}
.comment-container2 :hover{
    border: 1px solid;
    border-radius: 20px;
    color: #FF42A5;
    
    
}

.comment-img{
    font-size: 15px;
    display: flex;
    margin-right: 50px;
}
.comment-img img{
    font-size: 20px;
}
.comment-container p{
    align-items: center;
    
}
.comment-container p{
    margin-left:10px;
}


/* comment section end */








/* footer section start */
.footer-container{
   
    background-color: #0B0223;;
    width:100%;
    height: 350px;
    align-items: center;
    text-align: center;
}
.footer-img{
    
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-img h4{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
.list-item{
    justify-content: center;
    margin-bottom: 25px;
    display: flex;
    gap: 50px;
  
    
    
}
 .footer-container .icons{
    gap: 30px;
    

    
}
.list-item a{
    text-decoration: none;
    color: #FFF;
}
.list-item2{
    
   justify-content: center;
    margin-top: 20px;
    display: flex;
    gap:50px
}
.list-item2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
}
.copy{
    color: rgba(255, 255, 255, 0.60);
    
}
/* footer end */